
.rasm{
    width: 200px;
    height: 200px;
}
.b{
    padding: 10px ;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid green;
    border-radius: 40%;
}
.b1{
    padding: 10px ;
    border: 1px solid green;
    border-radius: 40%;
}
.modal-body{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.b2{
    padding: 10px ;
    border: 1px solid green;
    border-radius: 40%;
}
.b3{
    padding: 10px;
    border: 1px solid green;
    border-radius: 40%;
}
.b4{
    padding: 10px;
    border: 1px solid green;
    border-radius: 40%;
}
.sar{
    color: rgb(202, 202, 202);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 25px;
    margin-bottom: 300px;
    
}
.box1{
    font-size: 30px;
}
.rasmlar{
    display: flex;
    justify-content: center;
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.block2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.block3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    margin-top: 300px;
    margin-bottom: 200px;
}
.c1-sarlavha{
    display: flex;
    justify-content: center;
    color: gray;
}
.h{
    display: flex;
    justify-content: center;
    color: gray;
}
.p{
    display: flex;
    justify-content: center;

}
.container0{
    margin-top: 300px;
    background-color: rgba(197, 196, 196, 0.219);
    padding: 15px;
    border-radius: 20px;
    margin: 20px;
}
.container2{
    
    display: flex;
    justify-content: center;
    margin-top: 300px;
    background-color: rgba(197, 196, 196, 0.219);
    padding: 15px;
    border-radius: 20px;
    margin: 20px;
 } 
.in1{
    width: 550px;
    border: 1px solid gray;
    border-radius: 7px;
    padding: 10px;
}
.in2{
    width: 550px;
    border: 1px solid gray;
    border-radius: 7px;
    padding: 10px;
}
.in3{
    width: 550px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 7px;
    padding: 10px;
}
.c{
    display: flex;
    justify-content: center;
    color: gray;
}
.btn{
    width: 550px;
}