
.rasm{
    width: 200px;
    height: 200px;
}
.b{
    padding: 10px ;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid green;
    border-radius: 40%;
}
.b1{
    padding: 10px ;
    border: 1px solid green;
    border-radius: 40%;
}
.modal-body{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.b2{
    padding: 10px ;
    border: 1px solid green;
    border-radius: 40%;
}
.b3{
    padding: 10px;
    border: 1px solid green;
    border-radius: 40%;
}
.b4{
    padding: 10px;
    border: 1px solid green;
    border-radius: 40%;
}
.sar{
    color: rgb(202, 202, 202);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 25px;
    
}
.box1{
    font-size: 20px;
}
.rasmlar{
    display: flex;
    justify-content: center;
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.block2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.block3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    margin-top: 400px;
}
.c1-sarlavha{
    display: flex;
    justify-content: center;
    color: gray;
}
.h{
    display: flex;
    justify-content: center;
    color: gray;
}
.p{
    display: flex;
    justify-content: center;

}
.container0{
    margin-top: 300px;
    background-color: rgba(228, 224, 224, 0.692);
    padding: 15px;
    border-radius: 20px;
}